header {
	background-color: #000000;
	height: 96px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: 'Palatino Linotype', sans-serif;
}

header a {
	text-decoration: none;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	margin-right: 1.5rem;
	width: 79px;
	height: 48px;
}

button {
	background-color: #000000;
	cursor: pointer;
	border: none;
}